/* MAIN CSS */

@import url("https://use.typekit.net/zoq2vaz.css");
@import url(https://allfont.net/allfont.css?fonts=vera-humana-95);

:root {
    /* COLORS */
    --cc-purple: #240046;
    --cc-white: #efefef;
    --cc-orange: #ff6d00;
    --cc-gradient: linear-gradient(#ff9e00, #ff6d00);
    /* FONTS */
    --font-coolvetica: "coolvetica", sans-serif;
    --font-humana: "Vera Humana 95", arial;
    /* LOGO */
    --logo-full: url("../images/logofull.png");
}

body {
    background-color: var(--cc-white);
    width: 100vw;
    height: 100vh;
}

.content {
    padding-top: 11vh;
    padding-bottom: 11vh;
}

h2,
h3,
h4 {
    font-family: var(--font-coolvetica);
    color: var(--cc-purple);
}

h5 {
    font-family: var(--font-humana);
    color: var(--cc-purple);
    font-weight: 700;
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.no-rooms img {
    color: var(--cc-purple);
    max-width: 50vw;
}

.no-rooms {
    margin-top: 10vh;
}

.image-preview__image {
    object-fit: cover;
    display: none;
    width: 320px;
    height: 220px;
    object-position: top left;
}

.image-preview__image2 {
    object-fit: cover;

    display: none;

}

.videoPost {
    height: 250px;

    display: none;
}

#inpFile {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 15px;
    color: rgb(36, 0, 70);
    outline: none;
}

.inpFileBingo {
    display: none;
    /*background-color: white;
    border: 1px solid #ced4da;
    border-radius: 15px;
    color: rgb(36, 0, 70);
    outline: none;*/
}

::-webkit-file-upload-button {
    background-color: rgb(50, 0, 70);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 9px;
    border: rgb(36, 0, 70);

    color: white;
    border-radius: 10px;
}

::-webkit-file-upload-button:hover {
    background-color: rgb(255, 112, 0);
}

.labelImg:hover {
    color: rgb(255, 137, 0);
}

<<<<<<< HEAD


.labelImgBingo {
    width: 100%;
    margin-left: -5px;
    color: rgb(61, 59, 59);
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
=======
.material-icons .labelImgBingo {
    background-color: red;
>>>>>>> origin/main
}

.text-white {
    margin-top: 100px;
    text-align: center;
}

.userBtn {
    margin-top: 20px;
    padding: 5px 40px 5px 40px;
    color: white;
    font-size: 22px;
    border-radius: 40px;
    border-color: transparent;
    letter-spacing: 2px;

    font-family: var(--font-humana);
    font-weight: 700;
    background-image: var(--cc-gradient);
    border: 0;
}

.choose-artistBtn {
    padding: 5px 20px 5px 20px;
    color: white;
    font-family: var(--font-humana);
    font-weight: 700;
    background-image: var(--cc-gradient);
    border: 0;
    border-radius: 40px;
}

.artistBtn {
    margin-top: 20px;
    background-color: #240046;
    padding: 5px 40px 5px 40px;
    color: white;
    letter-spacing: 2px;
    border-color: rgb(255, 137, 0);
    font-size: 22px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-family: var(--font-humana);
    font-weight: 700;
}

.userProfileName {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cc-purple);
}

label {
    color: var(--cc-purple);
    font-family: var(--font-coolvetica);
}

.h3-label {
    font-size: 24px;
}

.cancel {
    color: black;
    margin-left: 40%;
    font-size: 1.2em;

}

.main-nav {
    background-color: var(--cc-purple);
    width: 100vw;
    height: 10vh;
    z-index: 12;
    position: fixed;
    top: 0;
    margin-bottom: 30px;
}

.nextBtn {
<<<<<<< HEAD

=======
>>>>>>> origin/main
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    font-family: var(--font-humana);
    font-size: 22px;
    align-items: right;
    border-color: WHITE;
}

.addBtn {
    color: white !important;
}

.albumDetails h4 {
    display: block;
    width: 60%;
    float: left;
}

.my-auto {
    align-items: right;
    width: 90%;
    float: right;
}

.main-nav .material-icons {
    color: var(--cc-white);
    font-size: 48px;
    padding-top: 25%;
}

.image-upload .custom-file-upload .material-icons {
    color: #000;
    opacity: 25%;
    font-size: 48px;
    padding: 16px;
}

.image-upload {
    height: 80px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #888888;
}

.image-upload2 {
    height: 180px;
    width: 180px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #888888;
}

.image-concert .custom-file-upload .material-icons {
    color: #000;
    opacity: 25%;
    font-size: 96px;
}

.image-concert {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #888888;
    height: auto;
    width: 100%;
}

.main-nav .invisible {
    color: none;
}

.main-nav .orange-logo {
    margin-top: 1vh;
    height: 8vh;
}

.main-bottom-nav {
    background-color: #fff;
    width: 100vw;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
}

.selected-nav {
    background-color: rgba(36, 0, 70, 0.199);
    border-radius: 50px;
    opacity: 90px;
    padding-top: 9px;
}

.main-bottom-nav .row {
    padding: 15px 0;
}

.row .px-4 {
    padding: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;

    /* padding-top: 4px;
    margin-left: 7px; */
}

.row .px-4 i {
    font-size: 24px;
    line-height: 1;
    height: 20px;
}
.row .px-4 h5 {
    height: 20px;
}

.px-4:hover {
    text-decoration: none;
}

.navSocial {
    color: var(--cc-purple);
    margin: 0 auto;
}

.purple-line {
    height: 2px;
    background-color: var(--cc-purple);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    border-radius: 15px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    resize: none;
}

.bg-white {
    background-color: #fff;
    padding: 5px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #888888;
}

/* ERRORS */
.errors {
    color: red;
    font-size: 16px;
}

/* BUTTONS */

.btn-orange {
    font-family: var(--font-humana);
    font-weight: 700;
    font-size: 18px;
    background-image: var(--cc-gradient);
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-orange2 {
    width: 80vw;
}

.btn-bottom {
    position: absolute;
    bottom: 0;
    margin: 40px auto;
    left: 50%;
    transform: translate(-50%, 0%);
}

.btn-outline-purple {
    font-family: var(--font-humana);
    color: rgba(128, 128, 128, 0.849);
    font-weight: 700;
    font-size: 18px;
    border-radius: 50px;
    border: solid;
    border-width: 3px;
    border-color: rgba(128, 128, 128, 0.781);
    width: 80vw;
    height: 100%;
    padding: 6px 20px;
    margin-top: 50px;
}

.nextBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    font-family: var(--font-humana);
    font-size: 22px;
    align-items: right;
    border-color: WHITE;
}

.addBtn {
    color: white !important;
}

.btn-info {
    font-size: 700;
}

.btn-add {
    font-family: var(--font-humana);
    background-image: var(--cc-gradient);
    color: var(--cc-white);
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    position: fixed;
}

.bottom {
    bottom: 15px;
    right: 15px;
}

.bottom-nav-btn {
    bottom: 100px;
    right: 15px;
}

.bottom-buttons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 80vw;
}

.btn-filter {
    background-color: #fff;
    border-radius: 25px;
    padding: 3px 10px;
    border: 0;
    box-shadow: 1px 2px 5px #888888;
    color: var(--cc-purple);
    font-family: var(--font-coolvetica);
    font-size: 18px;
    margin: 0 5px;
}

.selected-filter {
    background-image: var(--cc-gradient);
    color: var(--cc-white);
}

/* TUTORIAL */

.choose h2 {
    color: var(--cc-white);
}

.choose a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bolder;
    color: var(--cc-white);
}

.tutorial a {
    color: var(--cc-white);
}

.tutorial {
    background-color: var(--cc-purple);
    height: 30vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    box-shadow: 3px 4px 5px #888888;
}

.tutorial .text-center {
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.tutorial-img img {
    height: 100vh;
    width: 100vw;
}

.tutorial p {
    color: var(--cc-white);
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
}

.tutorial .dot {
    height: 15px;
    width: 15px;
    background-color: #b4b1b1;
    opacity: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.tutorial .skip {
    position: absolute;
    color: #ccbbab;
    margin-left: 20px;
    left: 0;
}

.tutorial .next {
    position: absolute;
    color: var(--cc-orange);
    text-decoration: underline;
    font-weight: bold;
    margin-right: 20px;
    right: 0;
}

.tutorial .selected-dot {
    background-color: var(--cc-orange);
    opacity: 100%;
}

/* LOGIN */

.logofull {
    background-image: var(--logo-full);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90vw;
    height: 30%;
}

.login {
    background-color: var(--cc-purple);
    padding-top: 60%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.choose {
    background-color: var(--cc-purple);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SEARCHBAR */

.input-container {
    position: relative;
}

.input-container input {
    width: 75vw;
    height: 30px;
    border: 0;
    box-shadow: 1px 2px 5px #888888;
}

.input-container i {
    position: absolute;
    color: var(--cc-orange);
    left: 277px;
    top: 2px;
}

/* ROOMS/CONCERTS */

.rooms {
    font-size: 20px;
}

.rooms a {
    font-family: var(--font-coolvetica);
    color: var(--cc-purple);
    font-weight: bolder;
}

.active-link {
    text-decoration: underline;
}

.non-active-link {
    opacity: 50%;
}

.concert-date {
    font-weight: bold;
    margin: 20px 0 5px 5px;
    font-size: 20px;
}

.card-body h3 {
    max-width: 92%;
}

.card {
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 1px 2px 11px #888888;
}

.card-body {
    padding: 10px 5px;
}

.card img {
    object-fit: cover;
    width: 35%;
    height: auto;
    margin: 0;
    border-radius: 15px 0 0 15px;
}

.card h3 {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: var(--cc-purple);
}

.card a {
    color: black;
}

.card h5 {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.card p {
    font-size: 14px;
}

.dimmed {
    position: relative;
}

.dimmed:after {
    content: " ";
    border-radius: 15px;
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--cc-orange);
    opacity: 0.4;
}

/* DETAILPAGE ROOM/CONCERT */

.price {
    background-image: var(--cc-gradient);
    color: var(--cc-white);
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* PROFILE */

.profile-image {
    border-color: red;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

.profile {
    margin-top: 15px;
}

.artist-image {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

.choose-artist {
    text-align: center;
    color: var(--cc-white);
    margin: 20px 5vw;
}

.choose-artists row {
    margin-left: 0;
}

.artist {
    text-align: center;
}

/* SETTINGS */

.list-settings .setting {
    font-family: var(--font-coolvetica);
    font-size: 32px;
    font-weight: bolder;
    color: var(--cc-purple);
}

.list-settings li {
    margin-top: 1em;
}

/* ADD CONCERT */

.range-wrap {
    position: relative;
}

.bottom-nav a {
    color: var(--cc-white);
}

.bottom-nav {
    background-color: var(--cc-purple);
    height: 8vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    box-shadow: 3px 4px 5px #888888;
}

.bottom-nav .text-center {
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.bottom-nav .dot {
    height: 15px;
    width: 15px;
    background-color: #b4b1b1;
    opacity: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.bottom-nav .nextBtn {
    /* display: block;
    float: right; */
    position: absolute;
    color: var(--cc-white);
    /* text-decoration: underline; */
    padding: 2px 15px;
    font-weight: bold;
    margin-right: 20px;
    right: 0;
    top: -10px;
    background-color: var(--cc-orange);
    border-color: var(--cc-orange);
    border-radius: 10px;
}

.bottom-nav .selected-dot {
    background-color: var(--cc-orange);
    opacity: 100%;
}

/* .bottom-nav {
    background-color: #fff;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.text-bottom-nav{
    display: block;
    position: fixed;
    width: 100%;
    margin: auto 0;
    text-align: center;
    float: left;
} 

.btn-bottom-nav{

    display: block;
    width: 30vw;
    text-align: center;
    float: right;
    z-index: 10;
} */
.dot {
    height: 15px;
    width: 15px;
    background-color: var(--cc-purple);
    opacity: 50%;
    border-radius: 50%;
    display: inline-block;
}

.selected-dot {
    opacity: 100%;
}

/* ADD SONGVOTE */

.my-auto {
    align-items: right;
    width: 90%;
    float: right;
}

.my-auto-vote {
    align-items: right;
    display: inline-block;
    margin: auto 0;
}

.my-auto-vote-titel {
    align-items: right;
    display: inline-block;
    margin: auto 0;
    width: 55%;
}

.my-auto-vote-check {
    align-items: right;
    display: block;
    width: 20px;
    margin: auto 0;
    float: right;
}

.my-auto-vote-rank {
    align-items: right;
    display: inline-block;
    margin: auto 0;
    width: 20px;
}

.my-auto-vote-perc {
    align-items: right;
    display: inline-block;
    margin: auto 0;
    width: 20px;
}

.song-vote {
    background-color: #fff;
    padding: 0em 0 3em 0;
    border-radius: 20px;
}

.song-overview {
    background-color: #fff;
    padding: 1em 0;
    border-radius: 20px;
}

.grey-row-SongVote {
    background-color: var(--cc-white);
    margin: 10px 0px;
    width: 90vw;
}

.grey-row {
    background-color: var(--cc-white);
    margin: 10px 0px;
}

.grey-row-sm {
    background-color: var(--cc-white);
    margin: 5px 0px 5px 40px;
}

.album-cover {
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 20px;
    border-radius: 20%;
    display: inline;
    object-fit: contain;
}

.days-left {
    background-color: var(--cc-purple);
    color: var(--cc-white);
    border-radius: 20px 20px 0% 0%;
    padding: 5px 0;
}

.play i {
    font-size: 32px;
    position: absolute;
    left: 71px;
    padding-top: 15px;
    color: var(--cc-orange);
}

/* BINGO */

.addItem {
    background-color: rgb(36, 0, 70);
    color: white;
    padding: 5px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #888888;
}

.addItem h5 {
    margin: 5px 0;
}

.carousel {
    display: block;
    width: 90vw;
    height: 30vh;
}

.carousel-inner {
    width: 90vw;
    margin: 10px 0 0 0;
}

.carousel-item img {
    width: 100%;
    height: 25vh;
    object-fit: contain;
    object-position: center;
}

.carousel-control-prev,
.carousel-control-next {
    color: lightgrey;
    background-color: lightgrey;
}

.bg-white .d-flex .material-icons {
    font-size: 60px;
    font-weight: bolder;
    color: var(--cc-purple);
}

.bingo-btn {
    background-image: var(--cc-gradient);
    border: 0;
    border-radius: 50%;
    font-family: var(--font-humana);
    font-weight: 700;
    font-size: 24px;
    background-image: var(--cc-gradient);
    color: #fff;
    height: 160px;
    width: 160px;
}

.bingo-picture {
    width: 100%;
    height: 25vh;
    object-fit: contain;
    object-position: center;
    z-index: 10;
}

.lostBingo {
    background-image: linear-gradient(#bd00ff, #f80000);
    width: 100%;
    height: 80vh;
    overflow: auto;
    position: absolute;
    top: 10%;
}

.wonBingo {
    background-image: var(--cc-gradient);
    width: 100%;
    height: 80vh;
    overflow: auto;
    position: absolute;
    top: 10%;
}

.wonBingo h1 {
    z-index: 5;
}

/* .confetti{
    display: block;
    width: 100%;
    height: 50%;
    margin:0 auto;
    
} */

.firework {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: -1;
    bottom: 0;
}

.bingoEndConcent {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bingoEndConcent h1 {
    color: var(--cc-white);
    font-size: 48px;
    font-style: bolder;
}

.form-control {
    width: 100%;
}

.row {
    padding: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.winners h4 {
    color: var(--cc-orange);
    font-size: 18px;
    margin: 0 !important;
}

.winners p {
    color: var(--cc-purple);
    margin-left: 20px;
}

/* POSTS */
.post {
    padding: 15px;
}

.post-page {
    overflow: scroll;
}

.post-page form {
    margin-bottom: 150px;
}

.post h5,
.comments h5 {
    color: var(--cc-orange);
    font-size: 16px;
    font-weight: bolder;
}

.post p,
.comments p {
    font-size: 14px;
}

.post-profile-image {
    border-radius: 50%;
    width: 15vw;
}

.post-image {
    width: 100%;
    height: auto;
}

.no-posts .material-icons {
    font-size: 64px;
    color: var(--cc-purple);
}

.no-posts {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.like-comment {
    background-color: var(--cc-purple);
    color: var(--cc-orange);
    border-radius: 0% 0% 20px 20px;
    margin: -25px 0 0 0;
    padding: 0;
    width: 100%;
}

.like-comment a {
    text-decoration: none;
    color: var(--cc-orange);
}

.comments {
    background-color: #fff;
    height: 93vh;
    padding: 10px;
    overflow-x: hidden;
}

.comments hr {
    border-top: 2px solid var(--cc-purple);
}

.commentbox {
    height: 3em;
    background-color: var(--cc-white);
}

.comments .input-container {
    position: absolute;
    bottom: 10px;
    width: 90vw;
    left: 5vw;
    right: 5vw;
}

#add-comment {
    font-size: 40px;
    color: #636363;
    padding-left: 17px;
}

.comments h6 {
    text-align: right;
    margin: 0;
    font-size: 12px;
}

.comments p {
    margin-bottom: 0;
}

hr {
    margin: 0;
}

/* CONCERT INFO */
.concert-info .col-10,
.concert-info .col-2,
.concert-info .col-auto {
    padding: 0;
}

.concert-info {
    margin-top: -2vh;
}

.concert-info .row {
    padding: 0 10px;
}

.concert-info .bg {
    background-color: #fff;
    padding: 8px 0;
    box-shadow: 1px 2px 5px #888888;
}

.concert-info h2 {
    font-size: 32px;
    font-weight: bolder;
}

.concert-info h4 {
    font-size: 20px;
    font-weight: bold;
}

.concert-info h3 {
    font-size: 24px;
    color: var(--cc-orange);
}

.concert-info i {
    color: var(--cc-orange);
    font-size: 48px;
}

.price h4 {
    font-size: 24px;
    margin-top: 9px;
}

.bg-concert-info {
    background-color: #fff;
    text-align: center;
    margin-bottom: 4px;
    padding: 3px 0;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0.5px 3px 4px #888888;
}

.bg-concert-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.p-concert-info {
    margin-bottom: 4px;
    text-align: center;
}

.carousel-inner2 {
    width: 90vw;
    margin: 10px 0 0 0;
}

@media only screen and (max-height: 670px) {
    .main-nav .material-icons {
        color: var(--cc-white);
        font-size: 48px;
        padding-top: 10%;
    }

    .main-bottom-nav {
        background-color: #fff;
        width: 100vw;
        padding: 10px 0px;
        position: fixed;
        bottom: 0;
    }

    .selected-nav {
        background-color: rgba(36, 0, 70, 0.199);
        border-radius: 50px;
        opacity: 90px;
        padding-top: 9px;
    }

    .main-bottom-nav .row {
        padding: 10px 0;
    }

    .row .px-4 {
        padding: 10px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        /* width: 33%; */
        margin: auto 0;
        /* padding-top: 4px;
        margin-left: 7px; */
    }

    .row .px-4 i {
        font-size: 20px;
        line-height: 1;
        height: 18px;
    }
    .row .px-4 h5 {
        /* width: 50px; */
        height: 16px;
    }

    .px-4:hover {
        text-decoration: none;
    }

    .navSocial {
        color: var(--cc-purple);
        margin: 0 auto;
    }
}
