/* MAIN CSS */

@import url("https://use.typekit.net/zoq2vaz.css");
@import url(https://allfont.net/allfont.css?fonts=vera-humana-95);

:root {
    /* COLORS */
    --cc-purple: #240046;
    --cc-white: #efefef;
    /* FONTS */
    --font-coolvetica: "coolvetica", sans-serif;
    --font-humana: "Vera Humana 95", arial;
    /* LOGO */
    --logo-full: url("../images/logofull.png");
}

body {
    background-color: var(--cc-white);
    width: 100vw;
    height: 100vh;
}

.main-nav {
    background-color: var(--cc-purple);
    width: 100vw;
    height: 60px;
}

.main-nav .material-icons {
    color: var(--cc-white);
    font-size: 48px;
}

.main-nav .invisible {
    color: none;
}

.main-nav .orange-logo {
    width: 30vw;
}

.purple-line {
    height: 2px;
    background-color: var(--cc-purple);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

/* BUTTONS */

.btn-orange {
    font-family: var(--font-humana);
    font-weight: 700;
    background: rgb(255, 158, 0);
    background: linear-gradient(
        180deg,
        rgba(255, 158, 0, 1) 0%,
        rgba(255, 109, 0, 1) 100%
    );
    color: #fff;
    border: 0;
    border-radius: 15px;
    padding: 10px 20px;
}

/* LOGIN */

.logofull {
    background-image: var(--logo-full);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    height: 30%;
}

.login {
    background-color: var(--cc-purple);
    padding-top: 60%;
    width: 100vw;
    height: 100vh;
}

/* SETTINGS */

.list-settings .setting {
    font-family: var(--font-coolvetica);
    font-size: 32px;
    font-weight: bolder;
    color: var(--cc-purple);
}

.list-settings li {
    margin-top: 1em;
}
