/* MAIN CSS */

@import url("https://use.typekit.net/zoq2vaz.css");
@import url(https://allfont.net/allfont.css?fonts=vera-humana-95);

:root {
    /* COLORS */
    --cc-purple: #240046;
    --cc-white: #efefef;
    --cc-gradient: linear-gradient(#ff9e00, #ff6d00);
    /* FONTS */
    --font-coolvetica: "coolvetica", sans-serif;
    --font-humana: "Vera Humana 95", arial;
    /* LOGO */
    --logo-full: url("../images/logofull.png");
}

body {
    background-color: var(--cc-white);
    width: 100vw;
    height: 100vh;
}

h2,
h3,
h4 {
    font-family: var(--font-coolvetica);
    color: var(--cc-purple);
    font-style: bolder;
}

h5 {
    font-family: var(--font-humana);
}

label {
    color: var(--cc-purple);
    font-family: var(--font-coolvetica);
}

.h3-label {
    font-size: 24px;
}

.main-nav {
    background-color: var(--cc-purple);
    width: 100vw;
    height: 60px;
}

.main-nav .material-icons {
    color: var(--cc-white);
    font-size: 48px;
}

.main-nav .invisible {
    color: none;
}

.main-nav .orange-logo {
    width: 30vw;
}

.bottom-nav {
    background-color: #fff;
    width: 100vw;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
}

.selected-nav {
    background-color: var(--cc-purple);
}

.purple-line {
    height: 2px;
    background-color: var(--cc-purple);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

/* BUTTONS */

.btn-orange {
    font-family: var(--font-humana);
    font-weight: 700;
    background-image: var(--cc-gradient);
    color: #fff;
    border: 0;
    border-radius: 15px;
    padding: 10px 20px;
}

.btn-outline-purple {
    font-family: var(--font-humana);
    color: var(--cc-purple);
    font-weight: 700;
    font-size: 22px;
    border-radius: 20px;
    border-width: 3px;
    border-color: var(--cc-purple);
    width: 80vw;
    padding: 6px 20px;
}

.btn-add {
    font-family: var(--font-humana);
    background-color: var(--cc-purple);
    color: var(--cc-white);
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* LOGIN */

.logofull {
    background-image: var(--logo-full);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    height: 30%;
}

.login {
    background-color: var(--cc-purple);
    padding-top: 60%;
    width: 100vw;
    height: 100vh;
}

/* ROOMS/CONCERTS */

.rooms {
    font-size: 22px;
}

.rooms a {
    font-family: var(--font-coolvetica);
    color: var(--cc-purple);
    font-weight: bolder;
}

.active-link {
    text-decoration: underline;
}

.non-active-link {
    opacity: 50%;
}

.concert-date {
    margin: 20px 0 10px 5px;
}

.concert-date a {
    color: black;
}

.card {
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
    padding: 0px;
}

.card img {
    width: 30%;
    height: auto;
    margin: 0;
    border-radius: 15px 0 0 15px;
}

.card h3 {
    display: block;
    position: relative;
    font-size: 25px;
    color: black;
}

.card a {
    color: black;
}

.card h5 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: black;
}

/* DETAILPAGE ROOM/CONCERT */

.price {
    background-image: var(--cc-gradient);
    color: var(--cc-white);
    border-radius: 50%;
}

/* PROFILE */

.profile-image {
    border-radius: 50%;
    width: 35vw;
}

/* SETTINGS */

.list-settings .setting {
    font-family: var(--font-coolvetica);
    font-size: 32px;
    font-weight: bolder;
    color: var(--cc-purple);
}

.list-settings li {
    margin-top: 1em;
}

/* ADD CONCERT */

.range-wrap {
    position: relative;
}

.steps {
    background-color: #fff;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--cc-purple);
    opacity: 50%;
    border-radius: 50%;
    display: inline-block;
}

.selected-dot {
    opacity: 100%;
}

/* ADD SONGVOTE */

.song-vote {
    background-color: #fff;
    padding: 0em 0 3em 0;
    border-radius: 20px;
}

.grey-row {
    background-color: var(--cc-white);
    margin: 10px 0px;
}

.grey-row-sm {
    background-color: var(--cc-white);
    margin: 5px 0px 5px 40px;
}

.album-cover {
    width: 50px;
    height: auto;
    margin: 5px 5px 5px 20px;
    border-radius: 20%;
}

.days-left {
    background-color: var(--cc-purple);
    color: var(--cc-white);
    border-radius: 20px 20px 0% 0%;
    padding: 5px 0;
}
